In [1]:
print("Hello, world!")

Hello, world!

## Data Types 
print ("Hello, world!")

In [3]:
# String is either double quotes or single quotes
test = "hello"

In [4]:
print(test)

hello

In [5]:
type(test)

str

In [6]:
# Numeric types come in two forms 
# integers and floats 

#integer 
Number = 10 

#floaty
Number = 4.5

In [10]:
#integer 
Number = 10 

#floaty
Number = 4.5

In [7]:
Number + float

TypeError: unsupported operand type(s) for +: 'float' and 'type'

In [8]:
Number + Floaty

NameError: name 'Floaty' is not defined

In [9]:
test+test

'hellohello'

In [11]:
#integer 
Number = 10 

#float
Number = 4.5

In [13]:
#integer 
Number1 = 10 

#float
Number2 = 4.5

In [14]:
Number1 + Number2

14.5

In [15]:
15 % 2

1

In [16]:
"foo" + "bar"

'foobar'

In [17]:
"foo" * 10

'foofoofoofoofoofoofoofoofoofoo'

## Python Collections

In [10]:
# list 
my_list = [1, "2", 3.2]

In [11]:
print(my_list)

[1, '2', 3.2]

In [12]:
print(my_list)

[1, '2', 3.2]

In [14]:
print(my_list[-1])

3.2

In [18]:
# dictionaries
my_dict = {"one": 1, "two": 2, "three": 3}

In [21]:
print(my_dict['one'])

1